body{
	background: #40E0D0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#delete{
	background-color: #ff3300;
	color: #fff;
	width: 300px;
	text-shadow: 0px 5px 10px#a52e10;
  box-shadow: 0px 6px 0px #a52e10;
}

#equal {
	background-color: #ff9900;
	color: #fff;
	text-shadow: 0px 5px 10px#bc7203;
  box-shadow: 0px 6px 0px #bc7203;
}

#equal:hover {
	background-color: #f2f2f2;
	cursor: pointer;
	color: black;
}

#delete:hover{
	background-color: #f2f2f2;
	cursor: pointer;
	color: black;
}

.calculator {
	background-color: #ccc;
	margin-top: 100px;
	margin-left: 35%;
	width: 300px;
	padding: 20px;
	border-radius: 5%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#result{
	width: 18rem;
	font-size: xx-large;
	
}

#result::placeholder{
	font-size: xx-large;
}

.display {
	background-color: #f2f2f2;
	border-radius: 5px;
	height: 50px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: right;
}

.display p {
	font-size: 24px;
	margin: 0;
}


.keys {
	display: flex;
	flex-wrap: wrap;
}

.keys button {
	border: none;
	border-radius: 5px;
	font-size: 18px;
	height: 50px;
	margin: 5px;
	width: calc(25% - 10px);
  transition: all 0.1s ease-in-out;
}

.keys button:hover {
	background-color: #f2f2f2;
	cursor: pointer;
	color: black;
	
	
}

.number-blue{
	background-color: #0077ff;
	color: #fff;
	text-shadow: 0px 5px 10px#0755ae;
  box-shadow: 0px 6px 0px #0755ae;
}

.operation-green {
	background-color: #00cc44;
	color: #fff;
	text-shadow: 0px 5px 10px #0ba43e;
  box-shadow: 0px 6px 0px #0ba43e;
}


.keys button:active {
	box-shadow: none;
	transform: translateY(3px);
}

footer{
	color: white;
}